# Server
PORT=3001
NODE_ENV=production

# Ethereum RPC
RPC_URL=https://ethereum-rpc.publicnode.com

# Redis
REDIS_URL=redis://redis:6379

# Cache settings
CACHE_TTL=60
CACHE_ENABLED=true

# Logging
LOG_LEVEL=info

# CORS
CORS_ORIGIN=http://localhost:8008,http://localhost:3000
